header {

    padding: 10px 10%;


}

nav {

    display: flex;
    align-items: center;
    justify-content: space-between;

}

nav .logo {
    width: 140px;
}

nav ul li {

    display: inline-block;
    margin: 10px 20px;

}

nav ul li a {

    color: black;
    position: relative;
}

nav ul li a::before{

    position: absolute;
    content: "";
    width: 0;
    background-color: #ff004f;
    bottom: -5px;
    height: 2px;
    transition: .5s ease-in-out;
}

nav ul li:hover a::before {

    width: 50%;

}

.menu-bar {

    display: none;
}

header .menu-bar .bar {

    width: 25px;
    height: 3px;
    margin: 3px;
    background-color: black;
    transition: all 0.3s ease-in-out;
}

@media only screen and (max-width:40rem) {

    header .menu  {
        display: flex;
        position: fixed;
        left:-100%;
        top:60px;
        width: 100%;
        flex-direction: column;
        background-color:  #cfdce3;;
        transition: all ease-in-out .3s;
        margin: none;
        z-index: 2;
    }

    .menu-bar {

        display: inline-block;
        cursor: pointer;
    }

    header .menu.active {
        left: 0;
        z-index: 2;
    }
    header .menu li a {
        display: inline-block;
        cursor: pointer;
        background-color: #cfdce3;
       
        
    }


    .menu-bar.active .bar:nth-child(1) {
        transform: translateY(6px) rotate(45deg);
    }
    
    .menu-bar.active .bar:nth-child(2) {
        opacity: 0
    }
    
    .menu-bar.active .bar:nth-child(3) {
        transform: translateY(-6px) rotate(-45deg);
    }


}